<% if (message.length > 0) { %>
  <% message.forEach(function(info) { %>
    <% if(info.type == 'error') { %>
      <div class="alert alert-danger">
        <strong><%= info.msg%></strong>
      </div>
    <% } else if (info.type == 'success'){ %>
      <div class="alert alert-success">
        <strong><%= info.msg%></strong>
      </div>
    <% } %>
  <% }) %>
<% } %>