<% if (messages.success) { %>
    <div class="alert alert-success">
      <strong><%-messages.success%></strong>
    </div>
  <% } %>

  <% if (messages.error) { %>
    <div class="alert alert-danger">
      <strong><%-messages.error%></strong>
    </div>
  <% } %>