<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/api/dashboard">HCCS</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/api/dashboard">儀表版面</a></li>
        <li><a href="/api/company">公司</a></li>
        <li><a href="/api/user">用戶</a></li>
        <li><a href="/api/product">產品</a></li>
        <li><a href="/api/discount">促銷</a></li>
        <li><a href="/api/category">類別</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0);">歡迎光臨, <%= user%></a></li>
        <li><a href="/logout">登出</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <%= title%> <small>Manage Your Site</small></h1>
        </div>
      </div>
    </div>
</header>

<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active"><%= title%></li>
    </ol>
  </div>
</section>