<!DOCTYPE html>
<html lang="en">
<%- include('partial/header')-%>

<body>
    <section id="main">
        <div class="container">
            <div class="row">
                <%- include('partial/sidemenu')-%>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">訂單序號 : AUJX458</h3>
                        </div>
                        <div class="toolbar hidden-print">
                            <div class="row">
                                <div class="text-left col-sm-6" style="padding-top: 20px; padding-left: 45px;">
                                    <button class="btn btn-warning" id="order_status">交易未完成</button>
                                </div>
                                <div class="text-right col-sm-6" style="padding-top: 20px; padding-right: 45px;">
                                    <button class="btn btn-danger btn-info" id="download"><i
                                            class="fa fa-file-pdf-o"></i> 下載PDF檔案</button>
                                </div>
                            </div>
                            <hr style="padding-bottom: 0;">
                        </div>
                        <div class="panel-body" style="padding-top: 0;">
                            <div class="invoice overflow-auto" style="padding-top: 0;" id="invoice">
                                <div style="min-width: 600px">
                                    <header>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a target="_blank"
                                                    href="https://sites.google.com/view/hofonspringcorp/english">
                                                    <img src="/image/company_logo.jpg" data-holder-rendered="true"
                                                        width="100" height="100"></a>
                                            </div>
                                            <div class="col-sm-6 company-details">
                                                <h2 class="name">
                                                    <a target="_blank" style="color: #c0392b;"
                                                        href="https://sites.google.com/view/hofonspringcorp/english">HOFON
                                                        SPRING</a>
                                                </h2>
                                                <div>No. 179, 建一路</div>
                                                <div>中和區 新北市235</div>
                                                <div>companyemail@example.com</div>
                                            </div>
                                        </div>
                                    </header>
                                    <main>
                                        <div class="row contacts">
                                            <div class="col-sm-6 invoice-to">
                                                <div class="text-gray-light">INVOICE TO:</div>
                                                <h2 class="to">蔡威傑</h2>
                                                <div class="address">新北市永和區中興街26號5樓</div>
                                                <div class="email"><a
                                                        href="mailto:useremail@example.com">useremail@example.com</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 invoice-details">
                                                <h1 class="invoice-id">訂單明細 AUJX458</h1>
                                                <div class="date">Date of Invoice: 01/07/2020</div>
                                                <div class="date">Due Date: 30/07/2020</div>
                                            </div>
                                        </div>
                                        <table cellspacing="0" cellpadding="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th class="text-left">商品</th>
                                                    <th class="text-right">價格</th>
                                                    <th class="text-right">數量</th>
                                                    <th class="text-right">總額</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="no">01</td>
                                                    <td class="text-left">
                                                        <h3>商品1</h3>商品1 代號碼 : JAIXJL6548
                                                    </td>
                                                    <td class="unit">$40.00</td>
                                                    <td class="qty">30</td>
                                                    <td class="total">$1,200.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="no">02</td>
                                                    <td class="text-left">
                                                        <h3>商品2</h3>商品2 代號碼 : JAIXJL6548
                                                    </td>
                                                    <td class="unit">$40.00</td>
                                                    <td class="qty">80</td>
                                                    <td class="total">$3,200.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="no">03</td>
                                                    <td class="text-left">
                                                        <h3>商品3</h3>商品3 代號碼 : JAIXJL6548
                                                    </td>
                                                    <td class="unit">$40.00</td>
                                                    <td class="qty">20</td>
                                                    <td class="total">$800.00</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td colspan="2">小計</td>
                                                    <td>$5,200.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td colspan="2">銷售稅</td>
                                                    <td>$1,300.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td colspan="2">匯總</td>
                                                    <td>$6,500.00</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div class="notices">
                                            <div>NOTICE :</div>
                                            <div class="notice">這裏可以放額外資訊 或 注意事項</div>
                                        </div>
                                    </main>
                                    <footer>
                                        This is a computer-generated document. No signature is required.
                                    </footer>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partial/footer')-%>

</body>

</html>