<!DOCTYPE html>
<html lang="en">
<%- include('partial/header')-%>
<body>
  <section id="main">
    <div class="container">
      <div class="row">
        <%- include('partial/sidemenu')-%>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
              <h3 class="panel-title"><%= title%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <input class="form-control" id="tableSearch" type="text" placeholder="Search">
                </div>
              </div>
              <br>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joined</th>
                    <th></th>
                  </tr>
                  <tr>
                </thead>
                <tbody id="myTable">
                  <td>Jill Smith</td>
                  <td>jillsmith@gmail.com</td>
                  <td>Dec 12, 2016</td>
                  <td><a href="/api/order/new" class="btn btn-danger" href="">瀏覽</a></td>
                  </tr>
                  <tr>
                    <td>Eve Jackson</td>
                    <td>ejackson@yahoo.com</td>
                    <td>Dec 13, 2016</td>
                    <td><a class="btn btn-danger" href="">瀏覽</a></td>
                  </tr>
                  <tr>
                    <td>Stephanie Landon</td>
                    <td>landon@yahoo.com</td>
                    <td>Dec 14, 2016</td>
                    <td><a class="btn btn-danger" href="">瀏覽</a></td>
                  </tr>
                  <tr>
                    <td>Mike Johnson</td>
                    <td>mjohnson@gmail.com</td>
                    <td>Dec 15, 2016</td>
                    <td><a class="btn btn-danger" href="">瀏覽</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%- include('partial/footer')-%>

</body>

</html>